

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto; 
  max-width: 100%;
}



@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeInSlide {
  0% {
    transform: translateY(30px); /* Start slightly above */
    opacity: 0; /* Start fully transparent */
  }
  100% {
    transform: translateY(0); /* End at the final position */
    opacity: 1; /* Fully visible */
  }
}



